<div class="inner">
  <p><strong>Prime Chemical Scientific</strong> is a modern company of experienced &amp; enthusiastic professionals with a good grip on renowned laboratory equipments and brands dealing with scientific, technical and laboratory requirements. With our experience of more than 18 years, we know the necessities and standards of the industry and providing state of the art solutions &amp; services to our esteemed customers.</p>
  <p><strong>Prime Chemical Scientific</strong> is working in following areas with interest of delivering the best products on economical prices.</p>
  <ol>
    <li>Educational Institutes (Universities, Colleges &amp; Schools)</li>
    <li>Industrial Area (Feed Mills, Ghee &amp; Oil Mills, Power Energy Sector, Textiles, Pharmaceutical, Agriculture, Pesticides and Sugar Mills etc.)</li>
    <li>Government Departments &amp; Institutes for research &amp; development.</li>
  </ol>
  <p>&nbsp;</p>
  <p><strong>Prime Chemical Scientific</strong> has principle of working with a team of enthusiastic, energetic, experienced and hardworking peoples who have the ability to work together within a family spirit and promises for;</p>
  <ul>
    <li>Perform successfully in delivering quality, delivering on time</li>
    <li>Be responsive to you and satisfy your needs as much as possible</li>
    <li>Work within professional ethic and confidentiality.</li>
  </ul>
  <hr/>
  
  <h2>Activities:</h2>
  <p>Imports, Distributions, Dealerships, Stockiest &amp; Resellers. Beside imported brands, <strong>Prime Chemical Scientific</strong> also offer locally manufactured (made in Pakistan) equipment for Laboratory supports &amp; apparatus for Industrial, University, Colleges and Schools Labs &amp; Materials Testing Equipment.</p>
  <p>After Sale Service for all above divisions is fully backed up by qualified and technical staff, fully designated to provide complete after-sales-services, maintenance and assistance to our valued customers.</p>
  <hr/>
  <h2>Our Goal:</h2>
  <p><strong>Prime Chemical Scientific</strong> is committed to remain at the forefront for the supply of laboratory need for Industrial, Educational &amp; Government Institute?s, Analytical &amp; Environmental labs, Technical Education in Pakistan. We are achieving this goal by representing world’s well-reputed and top ranked manufacturers in their respective fields. Since establishment year of Prime Chemical Scientific, our goal has been to provide top quality equipment &amp; apparatus with complete and efficient service support to our customers. In order to achieve our goal, we always keep an eye on the future developments and offer the best product with state of the art technology to our customers.</p>
  <hr/>
  <h2>Working with Customers:<em> </em></h2>
  <p>We believe it is important to maintain a long term partnership with our customers. Naturally, so we provide all the technical expertise to supporting our supplies which may be required. Beyond that, our customers can be confident that we will continue to give ongoing service and support in the future.</p>
  <p>We believe in keeping business and friendly relations, all the time.</p>
  
</div>