<div class ='row-fluid'>
  <h1>Contact Us</h1>
  <div class='span4'>
    <h2>Head Office</h2>
    <p><strong>Address:</strong> Scientific Trade Center, 22-Abkari Road, New Anarkali</p>
    <p><strong>Landline:</strong> +92 42 37234813</p>
    <p><strong>Cell:</strong> +92 333 4337046</p>
    <p><strong>Cell:</strong> +92 300 4419837</p>
    <p><strong>Email:</strong> info@primechemicalscientific.com</p>
    <p><strong>Email:</strong> primechemicals2003@yahoo.com</p>

  </div>

  <div class='span4'>


  </div>

  <div class='span4'>


  </div>


</div>
  <form class="contact-form active" action="http://www.primechemicalscientific.com/wp-content/themes/somoso/includes/sendmail.php" method="post" novalidate="novalidate">
    <input name="contact_widget_id" type="hidden" value="437">
    <input name="contact_token_437" type="hidden" value="info:primechemicalscientific,com"><input type="hidden" id="contact_wpnonce_437" name="contact_wpnonce_437" value="da6e32cbee"><input type="hidden" name="_wp_http_referer" value="/contact-us/">
    <p class="contact-form-name"><label for="contact_name_437">Name</label><span class="required">*</span><input id="contact_name_437" name="contact_name_437" type="text" value="" size="30" required="required"></p>
    <p class="contact-form-email"><label for="contact_email_437">Email</label><span class="required">*</span><input id="contact_email_437" name="contact_email_437" type="email" value="" size="30" required="required"></p>
    <p class="contact-form-subject"><label for="contact_subject_437">Subject</label><input id="contact_subject_437" name="contact_subject_437" type="text" value="" size="30"></p>
    <p class="contact-form-comment"><label for="contact_message_437">Message</label><textarea cols="45" rows="6" required="required" style="resize: none; overflow-y: hidden; position: absolute; top: 0px; left: -9999px; height: 128px; width: 745px; line-height: 18px; text-decoration: none; letter-spacing: 0px;" tabindex="-1"></textarea><textarea id="contact_message_437" name="contact_message_437" cols="45" rows="6" required="required" style="resize: none; overflow-y: hidden; height: 128px;"></textarea></p>
		<p class="form-submit active"><input type="submit" class="btn red" value="Submit"></p>
	</form>