<h1>Scientific Business</h1>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("bottles-new.jpg") %>

    </div>
    <div class="item">
      <%= image_tag("chemical-products.png",:size => '1200x360') %>
    </div>
    <div class="item">
      <%= image_tag("lab-equipement.png",:size => '1200x360') %>
    </div>
    <div class="item">
      <%= image_tag("research-instruments.png",:size => '1200x360') %>
    </div>
  </div>

  <h2 style="color: #5e5e5e; font-size: 26px;line-height: 30px"> Welcome to Inam Scientific Store</h2>
  <p> Inam Scientific is committed to remain at the forefront for the supply of laboratory need for Industrial, Educational  Government Institutes, Analytical &amp; Environmental labs, Technical Education in Pakistan. 
    We are achieving this goal by representing world’s well-reputed and top ranked manufacturers in their respective fields.</p>
  <p>Since establishment year of Prime Chemicals, our goal has been to provide top quality equipment &amp; apparatus with complete and efficient service support to our customers.
    In order to achieve our goal, we always keep an eye on the future developments and offer the best product with state of the art technology to our customers.</p>