<div class="row-fluid">
  <div class="span6">
    <p><%=image_tag 'partner2.jpg', :width => '300', :height =>'100' %></p>



    <h2><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><b>Mr. Qamar ul Haq </b></span></span></h2>
    <p><b>(Chief Executive /&nbsp;</b><b>Manager Sales</b><b>)</b></p>
    <div><strong>Cell:</strong>&nbsp; 0092-322-4651284</div>
    <div><strong>Email:</strong> inamchemicals2003@yahoo.com</div>

    <div></div>

  </div>

  <div class="span6">


  </div>


</div>
